<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Excel File</title>
</head>
    <body>
        <h1>Upload Excel File</h1>
        <p th:text="${errorMessage}"></p>
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
            <label for="file">Choose Excel file:</label>
            <input type="file" id="file" name="file" accept=".xls,.xlsx" required>
            <button type="submit">Upload</button>
        </form>
        <a th:href="@{/status/{fileId}(fileId=${fileId})}">
            <button type="button">Go to status page</button>
        </a>
    </body>
</html>
